<ng-container *ngIf="userDetails$ | async as userDetails else loading">
    <mat-card class="mt-4">
        <mat-card-header>
            <mat-card-title>Twoje informacje</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="avatar">
                <ds-avatar [avatarSizePx]="225"
                           [gender]="gender.Male"
                           [role]="(userDetails.roles | hasRole:role.Doctor) ? role.Doctor : role.Patient">
                </ds-avatar>
            </div>
            <div class="row">
                <div class="col-lg-6 account-info">
                    <div class="account-info__label">
                        Imię:
                    </div>
                    <div class="account-info__value">
                        {{userDetails.name}}
                    </div>
                </div>
                <div class="col-lg-6 account-info">
                    <div class="account-info__label">
                        Nazwisko:
                    </div>
                    <div class="account-info__value">
                        {{userDetails.surname}}
                    </div>
                </div>
                <div class="col-lg-6 account-info">
                    <div class="account-info__label">
                        PESEL:
                    </div>
                    <div class="account-info__value">
                        {{userDetails.personalId}}
                    </div>
                </div>
                <div class="col-lg-6 account-info">
                    <div class="account-info__label">
                        Płeć:
                    </div>
                    <div class="account-info__value">
                        {{gender.Male === gender.Male ? 'Mężczyzna' : 'Kobieta'}}
                    </div>
                </div>
                <div class="col-lg-6 account-info">
                    <div class="account-info__label">
                        E-mail:
                    </div>
                    <div class="account-info__value">
                        {{userDetails.email}}
                    </div>
                </div>
                <div class="col-lg-6 account-info">
                    <div class="account-info__label">
                        Nr telefonu:
                    </div>
                    <div class="account-info__value">
                        {{userDetails.phoneNumber}}
                    </div>
                </div>
                <div class="col-12 account-info">
                    <div class="account-info__label">
                        Województwo:
                    </div>
                    <div class="account-info__value">
                        {{userDetails.address.voivodeshipId | voivodeship : (voivodeships$|async)}}
                    </div>
                </div>
                <div class="col-lg-6 account-info">
                    <div class="account-info__label">
                        Kod pocztowy:
                    </div>
                    <div class="account-info__value">
                        {{userDetails.address.postalCode}}
                    </div>
                </div>
                <div class="col-lg-6 account-info">
                    <div class="account-info__label">
                        Miasto:
                    </div>
                    <div class="account-info__value">
                        {{userDetails.address.city}}
                    </div>
                </div>
                <div class="col-lg-6 account-info">
                    <div class="account-info__label">
                        Ulica:
                    </div>
                    <div class="account-info__value">
                        {{userDetails.address.street}}
                    </div>
                </div>
                <div class="col-lg-6 account-info">
                    <div class="account-info__label">
                        Nr domu:
                    </div>
                    <div class="account-info__value">
                        {{userDetails.address.buildingNumber}}
                    </div>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions align="end">
            <a routerLink="/account/edit"
               mat-flat-button
               color="primary">
                Edytuj
            </a>
        </mat-card-actions>
    </mat-card>
</ng-container>

<ng-template #loading>
    <ds-spinner></ds-spinner>
</ng-template>