@use '@angular/material' as mat;
@use 'palette';
@use "typography" as typ;

@include mat.core();

$primary: (
    50: palette.$primary-50,
    100: palette.$primary-100,
    200: palette.$primary-200,
    300: palette.$primary-300,
    400: palette.$primary-400,
    500: palette.$primary,
    600: palette.$primary-600,
    700: palette.$primary-700,
    800: palette.$primary-800,
    900: palette.$primary-900,
    contrast: (50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff)
);

$accent: (
    50: palette.$accent-50,
    100: palette.$accent-100,
    200: palette.$accent-200,
    300: palette.$accent-300,
    400: palette.$accent-400,
    500: palette.$accent,
    600: palette.$accent-600,
    700: palette.$accent-700,
    800: palette.$accent-800,
    900: palette.$accent-900,
    contrast: (50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff)
);

$ds-primary: mat.define-palette($primary);
$ds-accent: mat.define-palette($accent);

$my-warn: mat.define-palette(mat.$red-palette);

$ds-theme: mat.define-light-theme((color: (primary: $ds-primary,
                accent: $ds-accent,
                warn: $my-warn, ), typography: typ.$my-typography));

@include mat.all-component-themes($ds-theme);