<mat-card class="mt-4"
          *ngIf="userDetails$ | async as details else loading">
    <mat-card-header>
        <mat-card-title>Zaktualizuj swoje informacje</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="form">
            <div class="row">
                <mat-form-field class="col-md-6 col-lg-5 col-xl-4">
                    <mat-label>PESEL</mat-label>
                    <input formControlName="personalId"
                           matInput
                           placeholder="PESEL">
                    <mat-error>
                        <ds-error-message [control]="form.controls.personalId"></ds-error-message>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-md-6 col-lg-5 col-xl-4">
                    <mat-label>Imię</mat-label>
                    <input formControlName="name"
                           matInput
                           placeholder="Imię">
                    <mat-error>
                        <ds-error-message [control]="form.controls.name"></ds-error-message>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="col-md-6 col-lg-5 col-xl-4">
                    <mat-label>Nazwisko</mat-label>
                    <input formControlName="surname"
                           matInput
                           placeholder="Nazwisko">
                    <mat-error>
                        <ds-error-message [control]="form.controls.surname"></ds-error-message>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-md-6 col-lg-5 col-xl-4">
                    <mat-label>Nr telefonu</mat-label>
                    <input formControlName="phoneNumber"
                           matInput
                           placeholder="Nr telefonu">
                    <mat-error>
                        <ds-error-message [control]="form.controls.phoneNumber"></ds-error-message>
                    </mat-error>
                </mat-form-field>
            </div>
            <div formGroupName="address">
                <div class="row"
                     *ngIf="voivodeships$ | async as voivodeships">
                    <mat-form-field class="col-md-5 col-lg-5 col-xl-4">
                        <mat-label>Województwo</mat-label>
                        <mat-select formControlName="voivodeshipId">
                            <mat-option *ngFor="let voivodeship of voivodeships"
                                        [value]="voivodeship.id">
                                {{voivodeship.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error>
                            <ds-error-message [control]="addressFormGroup.controls.voivodeshipId"></ds-error-message>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-4 col-lg-3 col-xl-2">
                        <mat-label>Kod pocztowy</mat-label>
                        <input formControlName="postalCode"
                               matInput
                               placeholder="Kod pocztowy">
                        <mat-error>
                            <ds-error-message [control]="addressFormGroup.controls.postalCode"></ds-error-message>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-5 col-lg-5 col-xl-4">
                        <mat-label>Miasto</mat-label>
                        <input formControlName="city"
                               matInput
                               placeholder="Miasto">
                        <mat-error>
                            <ds-error-message [control]="addressFormGroup.controls.city"></ds-error-message>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-5 col-lg-5 col-xl-4">
                        <mat-label>Ulica</mat-label>
                        <input formControlName="street"
                               matInput
                               placeholder="Ulica">
                        <mat-error>
                            <ds-error-message [control]="addressFormGroup.controls.street"></ds-error-message>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-5 col-lg-5 col-xl-4">
                        <mat-label>Nr domu</mat-label>
                        <input formControlName="buildingNumber"
                               matInput
                               placeholder="Nr domu">
                        <mat-error>
                            <ds-error-message [control]="addressFormGroup.controls.buildingNumber"></ds-error-message>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-flat-button
                [routerLink]="'/account'"
                class="me-2">
            Anuluj
        </button>
        <ds-spinner-button (clicked)="save()"
                           [isLoading]="isSaving$ | async">
            Zapisz
        </ds-spinner-button>
    </mat-card-actions>
</mat-card>

<ng-template #loading>
    <ds-spinner></ds-spinner>
</ng-template>