<mat-card class="mt-4"
          *ngIf="doctorServices$ | async as doctorServices else loading">
    <mat-card-header class="d-flex justify-content-between align-items-center">
        <mat-card-title>
            Usługi
        </mat-card-title>
        <button mat-flat-button
                color="primary"
                (click)="openDoctorServiceModal(null)">
            Nowa usługa
        </button>
    </mat-card-header>
    <mat-card-content>
        <div class="services">
            <div *ngFor="let service of doctorServices; last as isLast"
                 class="service row">
                <div class="col d-flex flex-column justify-content-center">
                    <div>
                        {{service.name}} - {{service.durationTime | timespan}}
                    </div>
                    <div class="service__description">
                        {{service.description}}
                    </div>
                </div>
                <div class="col-auto">
                    <button mat-icon-button
                            class="me-2"
                            (click)="openDoctorServiceModal(service)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button
                            (click)="deleteService(service)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
                <mat-divider *ngIf="!isLast"
                             class="my-2">
                </mat-divider>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<ng-template #loading>
    <ds-spinner></ds-spinner>
</ng-template>