@use '@angular/material' as mat;

@include mat.core();

$primary: (
    50: #e3f2ff,
    100: #badeff,
    200: #8dcaff,
    300: #5eb4ff,
    400: #36a4ff,
    500: #0095ff,
    600: #0986f0,
    700: #0c74dc,
    800: #0d63ca,
    900: #0d44ab,
    contrast: (50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff)
);

$accent: (
    50: #fff8e1,
    100: #ffecb3,
    200: #ffdf82,
    300: #ffd450,
    400: #ffc92a,
    500: #ffc00f,
    600: #ffb208,
    700: #ff9f08,
    800: #fe8e08,
    900: #fe6e07,
    contrast: (50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff)
);

$ds-primary: mat.define-palette($primary);
$ds-accent: mat.define-palette($accent);

$my-warn: mat.define-palette(mat.$red-palette);

$mspicy-theme: mat.define-light-theme((color: (primary: $ds-primary,
                accent: $ds-accent,
                warn: $my-warn, )));

@include mat.all-component-themes($mspicy-theme);