<a class="doctor"
   [routerLink]="'/doctors/' + doctor.id">
    <mat-card>
        <mat-card-content>
            <div class="d-flex">
                <div class="doctor__avatar">
                    <ds-avatar [avatarSizePx]="100"
                               [gender]="doctor.gender"
                               [role]="role.Doctor">
                    </ds-avatar>
                </div>
                <div>
                    <div class="doctor__name">
                        {{doctor.firstName}}
                        {{doctor.lastName}}
                    </div>
                    <div>
                        {{doctor.specialization}}
                    </div>
                    <div class="doctor__about-me">
                        {{doctor.aboutMe}}
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</a>