<mat-nav-list>
    <mat-list-item *dsRequiredRoles="[role.Patient]"
                   routerLink="/doctors">
        <mat-icon matListItemIcon>local_hospital</mat-icon>
        <span matListItemTitle>Lekarze</span>
    </mat-list-item>
    <mat-list-item *dsRequiredRoles="[role.Patient]"
                   routerLink="/visits">
        <mat-icon matListItemIcon>assignment</mat-icon>
        <span matListItemTitle>Wizyty</span>
    </mat-list-item>
    <mat-list-item routerLink="/account">
        <mat-icon matListItemIcon>person</mat-icon>
        <span matListItemTitle>Konto</span>
    </mat-list-item>
    <mat-list-item *dsRequiredRoles="[role.Doctor]"
                   routerLink="/doctor-panel">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span matListItemTitle>Panel lekarza</span>
    </mat-list-item>
</mat-nav-list>