<mat-nav-list>
    <mat-list-item routerLink="/">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span matListItemTitle>Dashboard</span>
    </mat-list-item>
    <mat-list-item routerLink="/doctors">
        <mat-icon matListItemIcon>local_hospital</mat-icon>
        <span matListItemTitle>Lekarze</span>
    </mat-list-item>
    <mat-list-item routerLink="/visits">
        <mat-icon matListItemIcon>assignment</mat-icon>
        <span matListItemTitle>Wizyty</span>
    </mat-list-item>
    <mat-list-item routerLink="/account">
        <mat-icon matListItemIcon>person</mat-icon>
        <span matListItemTitle>Konto</span>
    </mat-list-item>
    <mat-list-item routerLink="/">
        <mat-icon matListItemIcon>settings</mat-icon>
        <span matListItemTitle>Ustawienia</span>
    </mat-list-item>
</mat-nav-list>