@use "variables" as var;

mat-sidenav-container {
    position: absolute;
    top: var.$navbar-height;
    left: 0;
    right: 0;

    mat-sidenav {
        width: 220px;
    }

    mat-sidenav-content {
        height: calc(100vh - var.$navbar-height);
    }
}