<mat-card class="visit">
    <mat-card-content>
        <div class="visit__details">
            <div class="d-flex justify-content-center justify-content-md-start">
                <div class="visit__avatar">
                    <ds-avatar [avatarSizePx]="90"
                               [gender]="visit.visitPositionDetails[0].serviceType.doctor.sex"
                               [role]="role.Doctor">
                    </ds-avatar>
                </div>
                <div>
                    <div class="visit__doctor-name">
                        {{visit.visitPositionDetails[0].serviceType.doctor.name}}
                        {{visit.visitPositionDetails[0].serviceType.doctor.surname}}
                    </div>
                    <div>
                        {{visit.visitPositionDetails[0].serviceType.doctor.competencyInformation.title}}
                    </div>
                </div>
            </div>
            <div class="visit__dates">
                <div>{{visit.visit.startDate | date:'dd MMMM yyyy'}}</div>
                <div>
                    {{visit.visit.startDate | date:'HH:mm'}}
                </div>
                <div>{{visit.visit.startDate| date:'EEEE'}}</div>
            </div>
            <div class="text-center text-md-start">
                <div (click)="displayServices = !displayServices"
                     class="visit__display-services">
                    {{displayServices ? 'Ukryj usługi' : 'Pokaż usługi'}}
                </div>
                <div *ngIf="displayServices"
                     class="visit__service-list">
                    <div *ngFor="let service of visit.visitPositionDetails">
                        {{service.serviceType.name}}
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions *ngIf="reservation"
                      class="justify-content-center justify-content-md-end">
        <button mat-flat-button
                color="primary"
                (click)="confirmVisit()"
                [disabled]="buttonDisabled">
            Potwierdź wizytę
        </button>
    </mat-card-actions>
</mat-card>