@use "variables" as var;
@use "palette";

.login {
    display: flex;
    justify-content: center;

    mat-card {
        width: 500px;
    }

    &__no-account {
        a {
            text-decoration: none;
            color: palette.$primary;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}