<div class="mt-4 login">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Zaloguj się do aplikacji</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="form">
                <mat-form-field class="w-100">
                    <mat-label>E-mail</mat-label>
                    <input formControlName="email"
                           matInput
                           placeholder="E-mail">
                    <mat-error>
                        <ds-error-message [control]="form.controls.email"></ds-error-message>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-label>Hasło</mat-label>
                    <input formControlName="password"
                           matInput
                           type="password"
                           placeholder="Hasło">
                    <mat-error>
                        <ds-error-message [control]="form.controls.password"></ds-error-message>
                    </mat-error>
                </mat-form-field>
            </form>
            <div class="login__no-account">
                Nie posiadasz konta?
                <a [routerLink]="'/register'">
                    Zarejestruj się
                </a>
            </div>
        </mat-card-content>
        <mat-card-actions align="end">
            <ds-spinner-button (clicked)="login()">
                Zaloguj
            </ds-spinner-button>
        </mat-card-actions>
    </mat-card>
</div>