<div *ngIf="doctor$ | async as doctor else loading"
     class="doctor mt-4">
    <div class="doctor__thumbnail">
        <mat-card>
            <mat-card-content>
                <div class="d-flex justify-content-center">
                    <ds-avatar [avatarSizePx]="160"
                               [gender]="doctor.gender"
                               [role]="role.Doctor">
                    </ds-avatar>
                </div>
                <div class="text-center">
                    <div class="doctor__name">
                        {{doctor.firstName}}
                        {{doctor.lastName}}
                    </div>
                    <div class="doctor__specialization">
                        {{doctor.specialization}}
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <a mat-flat-button
                       color="primary"
                       [routerLink]="'add-visit'">
                        Umów wizytę
                    </a>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>O mnie</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            {{doctor.aboutMe}}
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Oferowane usługi</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="doctor__services row">
                <div *ngFor="let service of doctor.services"
                     class="col-md-6">
                    {{service.name}}
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<ng-template #loading>
    <ds-spinner></ds-spinner>
</ng-template>
