@use "breakpoints";

.doctor {
    $self: &;
    display: grid;
    grid-template-columns: 300px auto;
    gap: 25px;

    @media(max-width: breakpoints.$breakpoint-lg) {
        grid-template-columns: auto;
    }

    &__thumbnail {
        grid-row-start: 1;
        grid-row-end: 3;

        #{$self}__name {
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: 500;
        }

        #{$self}__specialization {
            margin-bottom: 20px;
        }
    }

    &__services {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}
