<div class="my-4 register">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Zarejestruj się w aplikacji</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-stepper [linear]="true"
                         #stepper>
                <mat-step [stepControl]="registerForm"
                          label="Konto">
                    <form [formGroup]="registerForm">
                        <mat-form-field class="w-100">
                            <mat-label>E-mail</mat-label>
                            <input formControlName="email"
                                   matInput
                                   placeholder="E-mail">
                            <mat-error>
                                <ds-error-message [control]="registerForm.controls.email"></ds-error-message>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <mat-label>Hasło</mat-label>
                            <input formControlName="password"
                                   matInput
                                   type="password"
                                   placeholder="Hasło">
                            <mat-error>
                                <ds-error-message [control]="registerForm.controls.password"></ds-error-message>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <mat-label>Powtórz hasło</mat-label>
                            <input formControlName="repeatPassword"
                                   matInput
                                   type="repeatPassword"
                                   placeholder="Powtórz hasło">
                            <mat-error>
                                <ds-error-message [control]="registerForm.controls.repeatPassword"></ds-error-message>
                            </mat-error>
                        </mat-form-field>
                        <div align="end">
                            <button mat-button
                                    matStepperNext>
                                Dalej
                            </button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="userDetailsForm"
                          label="Informacje">
                    <form [formGroup]="userDetailsForm">
                        <mat-form-field class="w-100">
                            <mat-label>Imię</mat-label>
                            <input formControlName="firstName"
                                   matInput
                                   placeholder="Imię">
                            <mat-error>
                                <ds-error-message [control]="userDetailsForm.controls.firstName"></ds-error-message>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <mat-label>Nazwisko</mat-label>
                            <input formControlName="lastName"
                                   matInput
                                   placeholder="Nazwisko">
                            <mat-error>
                                <ds-error-message [control]="userDetailsForm.controls.lastName"></ds-error-message>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <mat-label>Płeć</mat-label>
                            <mat-select formControlName="gender">
                                <mat-option [value]="gender.Male">
                                    Mężczyzna
                                </mat-option>
                                <mat-option [value]="gender.Female">
                                    Kobieta
                                </mat-option>
                            </mat-select>
                            <mat-error>
                                <ds-error-message [control]="userDetailsForm.controls.gender"></ds-error-message>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <mat-label>Nr telefonu</mat-label>
                            <input formControlName="phoneNumber"
                                   matInput
                                   placeholder="Nr telefonu">
                            <mat-error>
                                <ds-error-message [control]="userDetailsForm.controls.phoneNumber"></ds-error-message>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <mat-label>Kod pocztowy</mat-label>
                            <input formControlName="zipCode"
                                   matInput
                                   placeholder="Kod pocztowy">
                            <mat-error>
                                <ds-error-message [control]="userDetailsForm.controls.zipCode"></ds-error-message>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <mat-label>Miasto</mat-label>
                            <input formControlName="city"
                                   matInput
                                   placeholder="Miasto">
                            <mat-error>
                                <ds-error-message [control]="userDetailsForm.controls.city"></ds-error-message>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <mat-label>Adres</mat-label>
                            <input formControlName="address"
                                   matInput
                                   placeholder="Adres">
                            <mat-error>
                                <ds-error-message [control]="userDetailsForm.controls.address"></ds-error-message>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <mat-label>Typ konta</mat-label>
                            <mat-select formControlName="role">
                                <mat-option [value]="role.Patient">
                                    Pacjent
                                </mat-option>
                                <mat-option [value]="role.Dentist">
                                    Lekarz
                                </mat-option>
                            </mat-select>
                            <mat-error>
                                <ds-error-message [control]="userDetailsForm.controls.role"></ds-error-message>
                            </mat-error>
                        </mat-form-field>
                    </form>
                    <div align="end">
                        <ds-spinner-button (clicked)="retgister()">
                            Zarejestruj
                        </ds-spinner-button>
                    </div>
                </mat-step>
            </mat-stepper>
        </mat-card-content>
    </mat-card>
</div>