<mat-card class="mt-4">
    <mat-card-header>
        <mat-card-title>Informacje lekarskie</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="doctor-info">
            <div class="doctor-info__label">
                O Tobie
            </div>
            <div class="doctor-info__value">
                {{doctorInfo.aboutMe}}
            </div>
        </div>
        <div class="doctor-info">
            <div class="doctor-info__label">
                Specjalizacja
            </div>
            <div class="doctor-info__value">
                {{doctorInfo.specialization}}
            </div>
        </div>
        <div class="doctor-info">
            <div class="doctor-info__label">
                Oferowane przez Ciebie usługi
            </div>
            <div class="doctor-info__value row">
                <div *ngFor="let service of doctorInfo.services"
                     class="col-md-6 col-xl-4 mb-2">
                    {{service.name}}
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions align="end">
        <a routerLink="/doctor-panel/edit"
           mat-flat-button
           color="primary">
            Edytuj
        </a>
    </mat-card-actions>
</mat-card>

<ng-template #loading>
    <ds-spinner></ds-spinner>
</ng-template>
