<mat-card class="mt-4">
    <mat-card-header>
        <mat-card-title>Informacje lekarskie</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="doctor-info">
            <div class="doctor-info__label">
                O Tobie
            </div>
            <div class="doctor-info__value">
                {{doctorCompetency.description}}
            </div>
        </div>
        <div class="doctor-info">
            <div class="doctor-info__label">
                Specjalizacja
            </div>
            <div class="doctor-info__value">
                {{doctorCompetency.title}}
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions align="end">
        <a routerLink="/doctor-panel/edit-competency"
           mat-flat-button
           color="primary">
            Edytuj
        </a>
    </mat-card-actions>
</mat-card>