<h1 mat-dialog-title>Dodaj dzień roboczy</h1>
<div mat-dialog-content
     class="add-schedule">
    <form [formGroup]="form">
        <div class="row mt-2">
            <mat-form-field class="col-12">
                <mat-label>Dzień</mat-label>
                <input matInput
                       [matDatepicker]="picker"
                       formControlName="startDate">
                <mat-datepicker-toggle matIconSuffix
                                       [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="col-12"
                            floatLabel="always">
                <mat-label>Godzina rozpoczęcia</mat-label>
                <input matInput
                       class="d-none"
                       formControlName="startTime">
                <ngx-timepicker-field [format]="24"
                                      [controlOnly]="true"
                                      [minutesGap]="30"
                                      formControlName="startTime">
                </ngx-timepicker-field>
                <mat-error>
                    <ds-error-message [control]="form.controls.startTime"></ds-error-message>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="col-12"
                            floatLabel="always">
                <mat-label>Ilość godzin</mat-label>
                <input matInput
                       class="d-none"
                       formControlName="workDuration">
                <ngx-timepicker-field [format]="24"
                                      [controlOnly]="true"
                                      [minutesGap]="30"
                                      formControlName="workDuration">
                </ngx-timepicker-field>
                <mat-error>
                    <ds-error-message [control]="form.controls.workDuration"></ds-error-message>
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions
     align="end">
    <button class="me-2"
            mat-flat-button
            [mat-dialog-close]="null"
            cdkFocusInitial>
        Anuluj
    </button>
    <ds-spinner-button (clicked)="save()"
                       [isLoading]="isSaving$ | async">
        Zapisz
    </ds-spinner-button>
</div>