$primary-50: #e3f2ff;
$primary-100: #badeff;
$primary-200: #8dcaff;
$primary-300: #5eb4ff;
$primary-400: #36a4ff;
$primary: #0095ff;
$primary-600: #0986f0;
$primary-700: #0c74dc;
$primary-800: #0d63ca;
$primary-900: #0d44ab;

$accent-50: #e3fdee;
$accent-100: #baf9d5;
$accent-200: #86f6ba;
$accent-300: #29f29b;
$accent-400: #00ec81;
$accent: #00e46c;
$accent-600: #00d361;
$accent-700: #00bf53;
$accent-800: #00ad47;
$accent-900: #008b30;