$font-family: Roboto, "Helvetica Neue", sans-serif;

$navbar-height: 64px;

$font-color: rgba(0, 0, 0, 0.87);

$font-grey-color: rgb(121, 121, 121);

$page-background-color: #fafafa;

$hover-background-color: #0095ff11;