@use "variables" as var;
@use "palette";

mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: var.$navbar-height;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__logo {
            display: flex;
            align-items: center;
            gap: 5px;

            img {
                height: 32px;
            }

            a {
                text-decoration: none;
                font-weight: 500;
                background: -webkit-linear-gradient(palette.$accent-300, palette.$primary);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}